body {
  background: #0B1E23;
}
h2 {
  
  }

.navbar-light  {
  background-color: #0B1E23 !important;
}
.navbar-light {
  background: #0B1E23;
}

.row  {
  margin-top: 50px;
}

.section {
  background: white;
  margin-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  width: 100%;
}

.footer {
  margin-top: 50px;
  padding-top: 50px;
  width: 100%;
}

#skills {
  width: 50%;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: -10px;
}

#skills img {
  margin-left: 0px;
}

#skills p {
  width: 75%;
}

#hobbies {
  padding-top: 50px;
  margin-bottom: 50px;
}
