body {
  background: lightgrey;
}

.row  {
  margin-top: 50px;
}

.section {
  background: white;
  margin-top: 50px;
  padding-bottom: 50px;
}

#skills {
  width: 50%;
  height: 200px;
}

#hobbies {
  padding-top: 50px;
}
