body {
  background: #0B1E23;
  padding-right: 10px;
  margin-left: 10px;
}

h2 {
  margin-bottom: -20px;
}
footer {
  background: white;
}

.title {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.navbar-light  {
  background-color: #0B1E23 !important;
}
.navbar-light {
  background: #0B1E23;
}

.row  {
  margin-top: 50px;
}

.section {
  background: white;
  margin-top: 50px;
  padding-bottom: 50px;
}

.image {
  margin-right: 40px;
}

.jumbotron {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer {
  margin-left: 60px;
  height: 100px;
}

.emph {
  color: #DA4398;
  font-size: 15px;
}

/* relevant styles */
.img {
  position: relative;
}

.image-text {
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 28px;
  right: 0;
  /* background: lightgrey; */
  /* color: #fff; */
  visibility: hidden;
  opacity: 0;
  /* width: 332px;
  height: 332px; */
  color: white;
  font-size: 30px;
  font-weight: bold;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .image-text {
  visibility: visible;
  opacity: 1;

}

.footer h5 {
  margin-top: 20px;
}

#skills {
  width: 50%;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: -10px;
}

#skills img {
  margin-left: 0px;
}

#skills p {
  width: 80%;
}

#about {
  background-color: white;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: -10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#about p {
  max-width: 400px;
}

#hobbies {

  margin-bottom: 50px;
}
